/*estilo del header*/
html,
body{
background:url(../images/books.jpg) no-repeat center center fixed #9eb9ce;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;
height: 100%;
margin-left:5%;
margin-right: 5%;
margin-top: 2%;

}

	.btn-minimal {
		border-radius: 0;
		margin-left:15px;
		background-color: #4195fc;
			border: 1px solid rgba(0,0,0,.1);
			color: rgb(255,255,255);

	}
	
		.btn-minimal:hover {
			background-color: #4195fc;
			border: 1px solid rgba(0,0,0,.1);
			color: rgb(255,255,255);
			cursor: pointer;
			text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
		}
		
		.btn-minimal:active {
			box-shadow: 0 1px 1px rgba(0,0,0,0.15) inset;
			text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
		}

html{
    position:relative;
    min-height:100%;
}

#navbar-search-caret{display:none;}
#navbar-search-filtros-caret{display:none;}
#login-signin{margin-left:30%;}
#search-submenu{
    left: 100%;
    position: absolute;
    margin-top: -36px;
}

.bold a {
    font-weight: bold;
}

#logo{
    margin-top:-14%;
    margin-left:5%;
}

#navbar-bottom{
height:30px;
    padding-left:28%;
}

#navbar-left-small{
    display:none !important;
}

#nav-small{
    display:none !important;
}

#cuerpo{
        position:relative;
        top:50px;
    }
    
#footer-small{
    display:none !important;
}    

@media screen and (max-width:1005px){
    #navbar-left{
        display:none !important;
    }
    #navbar-realizar_pregunta{
        display:none !important;
    }
    
    #navbar-left-small{
    display:initial !important;
}
    #nav-small{
    display:none !important;
}

    #cuerpo{
        position:relative;
        top:50px;
    }
    
    #footer-small{
    display:none !important;
    }   
}

section#preguntas {
	background-color: rgba(255,255,255,0.9);
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 4px;
	box-shadow: 0 1px 0 rgba(255,255,255,0.2) inset, 0 0 4px rgba(0,0,0,0.2);
	text-align: center;
	color: rgb(34,34,34);
	font-size: 2.2em;	
	font-weight: 200;
	margin: auto auto;
	padding: 24px;
	width: 750px;
	
}

@media (max-width:768px){
    
    #nav{
        display:none !important;
    }
    
    #nav-small{
    display:initial !important;
    }

    #cuerpo{
        position:relative;
        top:100px;
    }
    
    #nav-small-right{
        position:relative;
        top:-48px;
        padding-left:30%;
    }
    
    #footer{
        display:none !important;
    }
    
    #footer-small{
    display:initial !important;
}   
  
  #footer-nav{
      margin-left:28%;
  } 
}