/*estilo del header*/
html,
body{
background:url(../images/books.jpg) no-repeat center center fixed #9eb9ce;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;
height: 100%;
margin-left:5%;
margin-right: 5%;
margin-top: 2%;

}

html{
    position:relative;
    min-height:100%;
}

#navbar-search-caret{display:none;}
#navbar-search-filtros-caret{display:none;}
#login-signin{margin-left:30%;}
#search-submenu{
    left: 100%;
    position: absolute;
    margin-top: -36px;
}

.bold a {
    font-weight: bold;
}

#logo{
    margin-top:-14%;
    margin-left:5%;
}

#navbar-bottom{
height:30px;
    padding-left:28%;
}

#navbar-left-small{
    display:none !important;
}

#nav-small{
    display:none !important;
}

#cuerpo{
        position:relative;
        top:50px;
    }
    
#footer-small{
    display:none !important;
}    

@media screen and (max-width:1005px){
    #navbar-left{
        display:none !important;
    }
    #navbar-realizar_pregunta{
        display:none !important;
    }
    
    #navbar-left-small{
    display:initial !important;
}
    #nav-small{
    display:none !important;
}

    #cuerpo{
        position:relative;
        top:50px;
    }
    
    #footer-small{
    display:none !important;
    }   
}

@media (max-width:768px){
    
    #nav{
        display:none !important;
    }
    
    #nav-small{
    display:initial !important;
    }

    #cuerpo{
        position:relative;
        top:100px;
    }
    
    #nav-small-right{
        position:relative;
        top:-48px;
        padding-left:30%;
    }
    
    #footer{
        display:none !important;
    }
    
    #footer-small{
    display:initial !important;
}   
  
  #footer-nav{
      margin-left:28%;
  } 
}