ul.list-inline{
	font-size: 17px;
	color: rgb(0,79,138);
	
}

.marco{
background-color: rgba(255,255,255,0.9);}

blockquote {
    display: block;
	width:100%;
    margin-top: 2em;
    margin-bottom: 2em;
    /*margin-left: 40px;*/
    margin-right: 40px;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 4px;
	box-shadow: 0 1px 0 rgba(255,255,255,0.2) inset, 0 0 4px rgba(0,0,0,0.2);
	
}
h3 a{
	clear: both;
	color: rgb(0,79,138);
}
.panel-title{
	color: rgb(0,79,138);
}